* {
    margin: 0;
    padding: 0;
} /*to remove the page margin and padding*/

body {
    display: flex; /*use it for the flexible desgin*/
    justify-content: center;
    align-items: center;
    min-height: 100vh; /*vh=viewport height, viewable of full screen height*/
    background-color: #f4e4ba;
}


.container { /* we use . to acces class in css, it is the main class/main section of the app*/
    background-color: #fff;
    padding: 2rem; /*1 times the root font-size, 1rem=16px(default size), 2rem=32px */
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}

form {
    margin: 2rem 0 2rem 0; /* top=2rem, right=0, bottom=2rem, left=0 */
}

form select, 
button, 
input {
    width: 100%;
    border: none; /* remove the default border */
    outline: none; /* remove the default outline */
    border-radius: 0.75rem;
}

form input {
    border: 1px solid lightgrey;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}

.dropdown {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-container img {
    max-width: 2rem;
}

.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid lightgrey;
}


.select-container select {
    font-size: 1rem;
    width: auto;
    cursor: pointer;
}


.msg {
    margin: 2rem 0 2rem 0;
}

form button {
    height: 3rem;
    background-color: #af4d98;
    color: #fff;
    font-size: 1.15rem;
    cursor: pointer;
}